<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "suleiman.jpg" %>
	</div>
		<div id="content">
			<h1> Suleiman Ali </h1>
			<p>Shoulder jerky tri-tip pancetta pork belly ball tip beef. Spare ribs shankle meatball cow biltong, ham shoulder short ribs prosciutto tenderloin venison cupim meatloaf. Kevin short ribs capicola ball tip cow. Jerky pork belly shoulder t-bone tri-tip porchetta. Corned beef venison alcatra strip steak, turkey shank cupim andouille bresaola ribeye jowl beef kielbasa. Beef sausage tenderloin landjaeger filet mignon.</p>
		</div>
</div>
